{% extends '::base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="{{ path('ferus_admin_index') }}">FairPay Admin</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_USER_ADMIN') %}
                    <li>
                        <a href="{{ path('user_admin_index') }}" class="hidden-md hidden-sm">Administrateurs</a>
                        <a href="{{ path('user_admin_index') }}" class="visible-md-block visible-sm-block">Admins</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_STUDENT_ADMIN') %}
                    <li>
                        <a href="{{ path('student_admin_index') }}">Etudiants</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SELLER_ADMIN') %}
                    <li>
                        <a href="{{ path('seller_admin_index') }}">Marchands</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ACCOUNT_ADMIN') %}
                    <li>
                        <a href="{{ path('account_admin_index') }}" class="hidden-md hidden-sm">Comptes bancaires</a>
                        <a href="{{ path('account_admin_index') }}" class="visible-md-block visible-sm-block">Comptes</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_TRANSACTION_ADMIN') %}
                    <li>
                        <a href="{{ path('transaction_admin_index') }}" class="hidden-md hidden-sm">Transactions</a>
                        <a href="{{ path('transaction_admin_index') }}" class="visible-md-block visible-sm-block">Trans.</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_EVENT') %}
                    <li>
                        <a href="{{ path('event_admin_index') }}" class="hidden-md hidden-sm">Evénements</a>
                        <a href="{{ path('event_admin_index') }}" class="visible-md-block visible-sm-block">Event</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_MAIL') %}
                    <li>
                        <a href="{{ path('auth_admin_index') }}">Autorisations</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ icon('user') }} {{ app.user }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('ferus_index') }}">
                                    {{ icon('log-out') }} Sortir administration
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ icon('off') }} Déconnexion
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        {% block breadcrumb %}
            <li><a href="{{ path('ferus_admin_index') }}">{{ icon('home') }}</a></li>
        {% endblock %}
    </ol>

    <div style="margin-bottom: 15px">
        {% block actions %}
        {% endblock %}
    </div>

    {% block content %}
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ icon('dashboard') }} Tableau de bord</div>
                    <div class="panel-body">
                        <p>Il se peut que vous n'ayez pas accés à toutes les parties de l'administration. Pour rappel vos droits sont les suivants :</p>
                        <p>
                            {% for role in app.user.roles %}
                                <span class="label label-default">{{ role|trans({}, 'roles_short') }}</span>
                            {% endfor %}
                        </p>
                    </div>

                    <div class="list-group visible-xs-block">
                        {% if is_granted('ROLE_USER_ADMIN') %}
                        <a href="{{ path('user_admin_index') }}" class="list-group-item">Administrateurs</a>
                        {% endif %}
                        {% if is_granted('ROLE_STUDENT_ADMIN') %}
                        <a href="{{ path('student_admin_index') }}" class="list-group-item">Etudiants</a>
                        {% endif %}
                        {% if is_granted('ROLE_SELLER_ADMIN') %}
                        <a href="{{ path('seller_admin_index') }}" class="list-group-item">Marchands</a>
                        {% endif %}
                        {% if is_granted('ROLE_ACCOUNT_ADMIN') %}
                        <a href="{{ path('account_admin_index') }}" class="list-group-item">Comptes bancaires</a>
                        {% endif %}
                        {% if is_granted('ROLE_TRANSACTION_ADMIN') %}
                        <a href="{{ path('transaction_admin_index') }}" class="list-group-item">Transactions</a>
                        {% endif %}
                        {% if is_granted('ROLE_EVENT') %}
                        <a href="{{ path('event_admin_index') }}" class="list-group-item">Evénements</a>
                        {% endif %}
                        {% if is_granted('ROLE_MAIL') %}
                        <a href="{{ path('auth_admin_index') }}" class="list-group-item">Autorisations</a>
                        {% endif %}
                    </div>

                    <ul class="list-group hidden-xs" style="text-align: right">
                        {% if is_granted('ROLE_USER_ADMIN') %}
                        <li class="list-group-item">
                            <a class="pull-left" href="{{ path('user_admin_index') }}">
                                Administrateurs
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('user_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_STUDENT_ADMIN') %}
                        <li class="list-group-item">
                            <a href="{{ path('student_admin_index') }}" class="pull-left">
                                Etudiants
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('student_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                <a class="btn btn-default" href="{{ path('student_admin_add') }}">
                                    {{ icon('plus') }} Ajouter
                                </a>
                                <a class="btn btn-default" href="{{ path('student_admin_contributors') }}">
                                    {{ icon('euro') }} Cotisations
                                </a>
                                <a class="btn btn-default" href="{{ path('student_admin_stats') }}">
                                    <i class="fa fa-pie-chart"></i> Statistiques
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_SELLER_ADMIN') %}
                        <li class="list-group-item">
                            <a href="{{ path('seller_admin_index') }}" class="pull-left">
                                Marchands
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('seller_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                <a class="btn btn-default" href="{{ path('seller_admin_add') }}">
                                    {{ icon('plus') }} Ajouter
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ACCOUNT_ADMIN') %}
                        <li class="list-group-item">
                            <a href="{{ path('account_admin_index') }}" class="pull-left">
                                Comptes bancaires
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('account_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                <a class="btn btn-default" href="{{ path('account_admin_add') }}">
                                    {{ icon('plus') }} Ajouter
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_TRANSACTION_ADMIN') %}
                        <li class="list-group-item">
                            <a href="{{ path('transaction_admin_index') }}" class="pull-left">
                                Transactions
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('transaction_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                <a class="btn btn-default" href="{{ path('transaction_admin_new') }}">
                                    {{ icon('transfer') }} Transaction
                                </a>
                                <a class="btn btn-default" href="{{ path('transaction_admin_deposit') }}">
                                    {{ icon('import') }} Dépot
                                </a>

                                {% if is_granted('ROLE_WITHDRAWAL_ADMIN') %}
                                <a class="btn btn-default" href="{{ path('transaction_admin_withdrawal') }}">
                                    {{ icon('export') }} Retrait
                                </a>
                                {% endif %}
                            </div>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_EVENT') %}
                        <li class="list-group-item">
                            <a href="{{ path('event_admin_index') }}" class="pull-left">
                                Evénements
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('event_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                {% if is_granted('ROLE_EVENT_ADMIN') %}
                                <a class="btn btn-default" href="{{ path('event_admin_add') }}">
                                    {{ icon('plus') }} Ajouter
                                </a>
                                {% endif %}
                            </div>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_MAIL') %}
                        <li class="list-group-item">
                            <a href="{{ path('auth_admin_index') }}" class="pull-left">
                                Autorisations
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('auth_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                {% if is_granted('ROLE_MAIL_ADMIN') %}
                                    <a class="btn btn-default" href="{{ path('template_admin_index') }}">
                                        {{ icon('unchecked') }} Templates
                                    </a>
                                    <a class="btn btn-default" href="{{ path('authority_admin_index') }}">
                                        {{ icon('user') }} Autorités
                                    </a>
                                {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% if is_granted('ROLE_VIEW_STORES') %}
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                            Boutiques
                        </div>
                        <ul class="list-group">
                            {{ render(controller('FerusSellerBundle:Admin:stores')) }}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
