{% extends '::base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="{{ path('ferus_admin_index') }}">FairPay Admin</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('user_admin_index') }}" class="hidden-sm">Administrateurs</a>
                        <a href="{{ path('user_admin_index') }}" class="visible-sm-block">Admins</a>
                    </li>
                    <li>
                        <a href="{{ path('student_admin_index') }}">Etudiants</a>
                    </li>
                    <li>
                        <a href="{{ path('seller_admin_index') }}">Marchands</a>
                    </li>
                    <li>
                        <a href="{{ path('account_admin_index') }}" class="hidden-sm">Comptes bancaires</a>
                        <a href="{{ path('account_admin_index') }}" class="visible-sm-block">Comptes</a>
                    </li>
                    <li>
                        <a href="{{ path('transaction_admin_index') }}">Transactions</a>
                    </li>
                    <li>
                        <a href="{{ path('event_admin_index') }}">Evénements</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ icon('user') }} {{ app.user }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('ferus_index') }}">
                                    {{ icon('log-out') }} Sortir administration
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ icon('off') }} Déconexion
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        {% block breadcrumb %}
            <li><a href="{{ path('ferus_admin_index') }}">{{ icon('home') }}</a></li>
        {% endblock %}
    </ol>

    <div style="margin-bottom: 15px">
        {% block actions %}
        {% endblock %}
    </div>

    {% block content %}
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ icon('dashboard') }} Tableau de bord</div>
                    <div class="panel-body">
                        <p>Il se peut que vous n'ayez pas accés à toutes les parties de l'administration. Pour rappel vos droits sont les suivants :</p>
                        <p>
                            {% for role in app.user.roles %}
                                <span class="label label-default">{{ role|trans({}, 'roles_short') }}</span>
                            {% endfor %}
                        </p>
                    </div>

                    <div class="list-group visible-xs-block">
                        <a href="{{ path('user_admin_index') }}" class="list-group-item">Administrateurs</a>
                        <a href="{{ path('student_admin_index') }}" class="list-group-item">Etudiants</a>
                        <a href="{{ path('seller_admin_index') }}" class="list-group-item">Marchands</a>
                        <a href="{{ path('account_admin_index') }}" class="list-group-item">Comptes bancaires</a>
                        <a href="{{ path('transaction_admin_index') }}" class="list-group-item">Transactions</a>
                        <a href="{{ path('event_admin_index') }}" class="list-group-item">Evénements</a>
                    </div>

                    <ul class="list-group hidden-xs" style="text-align: right">
                        <li class="list-group-item">
                            <a class="pull-left" href="{{ path('user_admin_index') }}">
                                Administrateurs
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('user_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('student_admin_index') }}" class="pull-left">
                                Etudiants
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('student_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                <a class="btn btn-default" href="{{ path('student_admin_add') }}">
                                    {{ icon('plus') }} Ajouter
                                </a>
                                <a class="btn btn-default" href="{{ path('student_admin_contributors') }}">
                                    {{ icon('euro') }} Cotisations
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('seller_admin_index') }}" class="pull-left">
                                Marchands
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('seller_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                <a class="btn btn-default" href="{{ path('seller_admin_add') }}">
                                    {{ icon('plus') }} Ajouter
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('account_admin_index') }}" class="pull-left">
                                Comptes bancaires
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('account_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                <a class="btn btn-default" href="{{ path('account_admin_add') }}">
                                    {{ icon('plus') }} Ajouter
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('transaction_admin_index') }}" class="pull-left">
                                Transactions
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('transaction_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                <a class="btn btn-default" href="{{ path('transaction_admin_new') }}">
                                    {{ icon('transfer') }} Transaction
                                </a>
                                <a class="btn btn-default" href="{{ path('transaction_admin_deposit') }}">
                                    {{ icon('import') }} Dépot
                                </a>
                                <a class="btn btn-default" href="{{ path('transaction_admin_withdrawal') }}">
                                    {{ icon('export') }} Retrait
                                </a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('event_admin_index') }}" class="pull-left">
                                Evénements
                            </a>

                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-default" href="{{ path('event_admin_index') }}">
                                    {{ icon('th-list') }} Liste
                                </a>
                                <a class="btn btn-default" href="{{ path('event_admin_add') }}">
                                    {{ icon('plus') }} Ajouter
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
