{% extends '::base.html.twig' %}

{% macro navbarlink(route, icon, text) %}
    <li{% if app.request.attributes.get('_route') == route %} class="active"{% endif %}>
        <a href="{{ path(route) }}">{{ icon(icon) }} {{ text }}</a>
    </li>
{% endmacro %}

{% import _self as macro %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('ferus_index') }}">FairPay</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                {% if is_granted('ROLE_USER') %}
                    <ul class="nav navbar-nav">
                        {{ macro.navbarlink('user_statement', 'list-alt', 'Relevé') }}
                        {{ macro.navbarlink('user_transfer', 'transfer', 'Virements') }}
                        {% if is_granted('ROLE_SELLER') %}
                            {{ macro.navbarlink('seller_dashboard', 'shopping-cart', 'Vente') }}
                        {% endif %}
                        {{ macro.navbarlink('ferus_other_operations', 'briefcase', 'Autres opérations') }}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ icon('user') }} {{ app.user }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('fos_user_profile_show') }}">
                                        {{ icon('user') }} Mon compte
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_change_password') }}">
                                        {{ icon('lock') }} Changer mon mot de passe
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('ferus_admin_index') }}">
                                            {{ icon('asterisk') }} Administration
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ icon('off') }} Déconnexion
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="navbar-text navbar-right hidden-xs">Solde : € {{ app.user.account.balance }}</p>
                {% else %}
                    <form class="navbar-form navbar-right" role="connect" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                        <div class="form-group">
                            <label class="sr-only" for="username">Login</label>
                            <input type="text" id="username" name="_username" class="form-control" placeholder="Login" required autofocus>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">Mot de passe</label>
                            <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Connexion</button>
                    </form>
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
