{% extends '@FerusStudent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ seller.name }}</li>
    <li class="active">Supprimer</li>
{% endblock %}

{% block content %}
    {% if seller.account is not null and seller.account.deletedAt is null %}
        <div class="alert alert-danger" role="alert">
            <h2>Impossible !</h2>
            <p>Vous ne pouvez pas supprimer <b>{{ seller }}</b> car il as un <a href="{{ path('account_admin_view', {id:seller.account.id}) }}">compte bancaire</a>.</p>
            <form method="post" style="margin-top: 10px">
                <a class="btn btn-default" href="{{ path('seller_admin_index') }}">
                    Annuler
                </a>
            </form>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <h2>Attention !</h2>
            <p>Vous êtes sur le point de supprimer définitivement <b>{{ seller }}</b>. Voulez vous continuer ?</p>
            <form method="post" style="margin-top: 10px">
                <button type="submit" class="btn btn-danger">
                    {{ icon('remove') }} Supprimer {{ seller }}
                </button>
                <a class="btn btn-default" href="{{ path('seller_admin_index') }}">
                    Annuler
                </a>
            </form>
        </div>
    {% endif %}
{% endblock %}