{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <h1>{{ store.seller }} : {{ store }}</h1>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-hover">
                        {% for product in store.products %}
                            <tr>
                                <td>
                                    <span class="hidden-xs">
                                        {{ product }}
                                    </span>
                                    <span class="visible-xs-block" style="max-width:100px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                                        {{ product }}
                                    </span>
                                </td>
                                <td style="min-width: 55px">{{ product.price }} €</td>
                                <td>
                                    <div class="input-group input-group-sm" style="width: 100px">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" data-add="-1">{{ icon('minus') }}</button>
                                        </div>
                                        <input type="tel" class="form-control text-center"
                                               value="{{ app.request.get(product.id, 0) }}"
                                               data-id="{{ product.id }}"
                                               data-product="{{ product }}"
                                               data-price="{{ product.price }}"
                                                >
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" data-add="1">{{ icon('plus') }}</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="active">
                            <td>
                                Total
                            </td>
                            <td colspan="2"><span data-display>0.00</span> €</td>
                        </tr>
                    </table>
                </div>
            </div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form/store.js') }}"></script>
{% endblock %}