{% extends '::base.html.twig' %}

{% block navbar %}
    <div style="height: 15px"></div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <a class="btn btn-primary btn-xs" href="{{ path('event_admin_index') }}">
                <i class="glyphicon glyphicon-arrow-left"></i>
                Retour
            </a>
            <h1>
                {{ event }}
                <small>{{ event.date|date('d/m/y') }}</small>
            </h1>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Tarifs
                    <div class="pull-right">
                        {{ event.maxTickets - event.participations|length }} places dispo
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Prix
                        <div class="pull-right">
                            {{ event.price }} € ({{ event.priceNonContributor }} €)
                        </div>
                    </li>
                    <li class="list-group-item">
                        Caution
                        <div class="pull-right">
                            {{ event.deposit }} €
                        </div>
                    </li>
                </ul>
            </div>

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#user-sudent" data-toggle="tab">ESIEEen</a>
                </li>
                <li>
                    <a href="#user-external" data-toggle="tab">Externe</a>
                </li>
            </ul>

            <div class="tab-content" style="border:1px solid #dddddd; border-top: none; padding: 15px">
                <div id="user-sudent" class="tab-pane active">

                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-barcode"></span>
                        </span>
                        <input class="form-control" type="text" data-preview="student" autocomplete="off" required="required">
                    </div>
                    <span class="help-block">Numéro figurant sur la carte étudiante</span>
                </div>

                <div id="user-external" class="tab-pane">
                    <form>
                        <div class="extra-info">
                            <label>Nouveau</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Prénom" name="first-name" required="">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Nom" name="last-name" required="">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Email" name="email" required="">
                            </div>
                        </div>
                        <div class="extra-info" style="margin-top: 15px">
                            {% if externalStudents|length %}
                                <label>Déjà inscrit</label>
                                <div class="panel panel-default">
                                    <table class="table table-hover" style="cursor: pointer">
                                        {% for student in externalStudents %}
                                            <tr data-first-name="{{ student.firstName }}" data-last-name="{{ student.lastName }}" data-email="{{ student.email }}">
                                                <td><i class="glyphicon glyphicon-user"></i></td>
                                                <td>{{ student.lastName }}</td>
                                                <td>{{ student.firstName }}</td>
                                                <td>{{ student.email }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                            <button class="btn btn-primary btn-block">Valider</button>
                        </div>
                    </form>
                </div>
            </div>

            <h2 id="loading" style="text-align: center;display: none">
                <i class="fa fa-spinner fa-pulse"></i> Chargement des infos
            </h2>

            <div id="participation-data" class="hidden"
                 data-price="{{ event.price }}"
                 data-price-non-contributor="{{ event.priceNonContributor }}"
                 data-price-deposit="{{ event.deposit }}"
                 data-deposit-by-check="{{ event.depositByCheck }}"
                 data-get-participation="{{ path('event_store_get_participant', {id:event.id, email:"_email_"}) }}"
                    >
                {% if event.extraFields|length %}
                    <h2>Champ spéciaux</h2>
                    {% for field in event.extraFields %}
                        <div class="form-group">
                            <label for="field-{{ field.id }}">{{ field.name }}</label>
                            <input type="text" class="form-control" id="field-{{ field.id }}" {% if field.mandatory %}required=""{% endif %} data-extra-field-id="{{ field.id }}">
                        </div>
                    {% endfor %}
                {% endif %}

                <h2>Place</h2>
                {% if event.options|length %}
                    <div class="panel panel-default">
                        <div class="panel-heading">Options</div>
                        <div class="list-group">
                            {% for option in event.options %}
                                <label class="list-group-item" style="font-weight: normal;cursor: pointer">
                                    <input type="checkbox" data-option-id="{{ option.id }}" data-option-price="{{ option.price }}">
                                    {{ option.name }}
                                    <span class="pull-right">{{ option.price }} €</span>
                                </label>
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            Total
                            <span class="pull-right">
                                <span class="options-total" data-base-price="0">00.0</span> €
                            </span>
                        </div>
                    </div>
                {% endif %}

                <h3 style="text-align: center">
                    À payer :
                    <span class="options-total" data-base-price="0">00.0</span> €
                </h3>

                <div class="btn-group btn-group-justified" id="price">
                    <div class="btn btn-default" data-payment=""><i class="glyphicon glyphicon-remove"></i></div>
                    <div class="btn btn-default" data-payment="cb">CB</div>
                    <div class="btn btn-default" data-payment="cheque">Chèque</div>
                    <div class="btn btn-default" data-payment="cash">Espèces</div>
                    <div class="btn btn-default" data-payment="fairpay">Fairpay</div>
                </div>

                <h2>Caution</h2>
                <h3 style="text-align: center">
                    À payer :
                    {{ event.deposit }} €
                </h3>
                <div class="btn-group btn-group-justified" id="deposit">
                    <div class="btn btn-default" data-payment=""><i class="glyphicon glyphicon-remove"></i></div>
                    <div class="btn btn-default" data-payment="cb">CB</div>
                    <div class="btn btn-default" data-payment="cheque">Chèque</div>
                    <div class="btn btn-default" data-payment="cash">Espèces</div>
                    <div class="btn btn-default" data-payment="fairpay">Fairpay</div>
                </div>

                <h2>Valider</h2>

                <form method="post">
                    {{ form_widget(form) }}

                    <button class="btn btn-primary btn-lg btn-block" style="margin: 15px 0 40px 0">
                        <i class="glyphicon glyphicon-ok"></i>
                        Valider
                    </button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/store.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form/event.js') }}"></script>
{% endblock %}