{% extends '::admin.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('auth_admin_index') }}">Autorisations</a></li>
{% endblock %}

{% block actions %}
    <div class="hidden-xs">
        <div class="btn-group btn-group-sm">
            <a class="btn btn-default" href="{{ path('template_admin_index') }}">
                {{ icon('th-list') }}
                Templates
            </a>
            <a class="btn btn-default" href="{{ path('authority_admin_index') }}">
                {{ icon('th-list') }}
                Autorités
            </a>
        </div>
    </div>
    <div class="visible-xs-block">
        <div class="btn-group btn-group-sm btn-group-justified">
        </div>
    </div>
{% endblock %}