<div class="table-responsive">
<table class="table table-striped table-hover">
    <tr>
        <th>Type</th>
        <th>Emetteur</th>
        <th>Destinataire</th>
        <th>Montant</th>
        <th>Date</th>
        <th>Mandataire</th>
    </tr>
    {% for transaction in transactions %}
        <tr>
            <td>
                {% if transaction.type == 'Transaction' %}
                    <span class="label label-success">
                        {{ icon('transfer') }} <span class="visible-md-inline visible-lg-inline">Transaction</span>
                    </span>
                {% elseif transaction.type == 'Dépot' %}
                    <span class="label label-primary">
                        {{ icon('import') }} <span class="visible-md-inline visible-lg-inline">Dépot</span>
                    </span>
                {% else %}
                    <span class="label label-warning">
                        {{ icon('export') }} <span class="visible-md-inline visible-lg-inline">Retrait</span>
                    </span>
                {% endif %}
            </td>
            <td>
                {% if transaction.issuer is not null %}
                    <a href="{{ path('account_admin_view', {id:transaction.issuer.id}) }}">
                        {{ transaction.issuer }}
                    </a>
                {% endif %}
            </td>
            <td>
                {% if transaction.receiver is not null %}
                    <a href="{{ path('account_admin_view', {id:transaction.receiver.id}) }}">
                        {{ transaction.receiver }}
                    </a>
                {% endif %}
            </td>
            <td>€ {{ transaction.amount }}</td>
            <td>
                {{ transaction.completedAt|date('d-m') }}
                <span class="visible-sm-inline visible-md-inline visible-lg-inline">
                    {{ transaction.completedAt|date('Y') }}
                </span>
                <span class="visible-md-inline visible-lg-inline">
                    {{ transaction.completedAt|date('à H:i') }}
                </span>
            </td>
            <td>{{ transaction.representative }}</td>
        </tr>
    {% endfor %}
</table>
</div>