{% extends '@FerusEvent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Nouvel évenement</li>
{% endblock %}

{% block content %}
    <h2>Nouvel évenement</h2>
    {{ form_start(form, { 'style': 'horizontal' }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.date) }}
        {{ form_row(form.maxTickets) }}
        {{ form_row(form.askForCars) }}

        <h3>Tarification</h3>
        {% for ticket in form.tickets %}
            <div class="well">
                {{ form_widget(ticket) }}
            </div>
        {% endfor %}
        <button type="button" class="btn btn-success" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e }}">{{ icon('plus') }}Ajouter une tarification</button>
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form/collection.js') }}"></script>
{% endblock %}