{% extends '@FerusEvent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ event }}</li>
    <li class="active">Demandes de stationement</li>
{% endblock %}

{% block actions %}
    {{ parent() }}
    <div class="hidden-xs" style="margin-top: 10px;">
        <div class="btn-group btn-group-sm">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ icon('th-list') }} Participants
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('event_admin_participants', {id:event.id}) }}">
                            {{ icon('th-list') }} Liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_store_index', {id:event.id}) }}">
                            {{ icon('shopping-cart') }} Boutique en ligne
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_admin_participants_csv', {id:event.id}) }}">
                            <i class="fa fa-file-excel-o"></i> Télécharger
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-car"></i> Demandes
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('event_admin_car_requests', {id:event.id}) }}">
                            {{ icon('th-list') }} Liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_store_register_plate', {id:event.id}) }}">
                            <i class="fa fa-car"></i> Faire une demande
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_admin_car_requests_csv', {id:event.id}) }}">
                            <i class="fa fa-file-excel-o"></i> Télécharger
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="visible-xs-block" style="margin-top: 10px;">
        <div class="btn-group btn-group-sm btn-group-justified">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ icon('th-list') }} Participants
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('event_admin_participants', {id:event.id}) }}">
                            {{ icon('th-list') }} Liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_store_index', {id:event.id}) }}">
                            {{ icon('shopping-cart') }} Boutique en ligne
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_admin_participants_csv', {id:event.id}) }}">
                            <i class="fa fa-file-excel-o"></i> Télécharger
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-car"></i> Demandes
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="{{ path('event_admin_car_requests', {id:event.id}) }}">
                            {{ icon('th-list') }} Liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_store_register_plate', {id:event.id}) }}">
                            <i class="fa fa-car"></i> Faire une demande
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_admin_car_requests_csv', {id:event.id}) }}">
                            <i class="fa fa-file-excel-o"></i> Télécharger
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h2>Liste des demandes de stationement <small>{{ event }}</small></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Email</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Couleur</th>
                <th>Plaque</th>
                <th></th>
            </tr>
            {% for request in requests %}
                <tr>
                    <td>{{ request.email }}</td>
                    <td>{{ request.brand }}</td>
                    <td>{{ request.model }}</td>
                    <td>{{ request.color }}</td>
                    <td>{{ request.plate }}</td>
                    <td><a class="btn btn-danger btn-xs">{{ icon('remove') }} Suppr.</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}