{% extends '@FerusEvent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ event }}</li>
    <li><a href="{{ path('event_admin_participants', {id:event.id}) }}">Liste des participants</a></li>
    <li class="active">{{ history[0].firstName }} {{ history[0].lastName }}</li>
{% endblock %}

{% block content %}
    <h1>{{ history[0].firstName }} {{ history[0].lastName }} <small>{{ event }}</small></h1>

    <table class="table">
        <tr>
            <th>Date</th>
            <th>Mandataire</th>
            {% for field in event.extraFields %}
                <th>{{ field }}</th>
            {% endfor %}
            {% for option in event.options %}
                <th class="text-center"><i class="glyphicon glyphicon-info-sign" title="{{ option }}"></i></th>
            {% endfor %}
            <th>Place</th>
            <th>Caution</th>
            <th>Commentaires</th>
        </tr>
        {% for index, participation in history %}
            <tr>
                <td>{{ participation.createdAt|date('h:i d-m-Y') }}</td>
                <td>{{ participation.representative }}</td>
                {% for i, value in participation.fields %}
                    <td{% if index>0 and value != history[index-1].fields[i] %} class="info"{% endif %}>{{ value }}</td>
                {% endfor %}
                {% for i, value in participation.options %}
                    <td class="text-center{% if index>0 and value != history[index-1].options[i] %} info{% endif %}">
                        {% if value == 1 %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                {% endfor %}
                <td{% if index>0 and (participation.paymentMethod != history[index-1].paymentMethod or participation.paymentAmount != history[index-1].paymentAmount) %} class="info"{% endif %}>
                    {{ participation.paymentAmount }} €
                    {% if participation.paymentMethod == 'cb' %}
                        CB
                    {% elseif participation.paymentMethod == 'cash' %}
                        Espèces
                    {% elseif participation.paymentMethod == 'fairpay' %}
                        Fairpay
                    {% elseif participation.paymentMethod == 'cheque' %}
                        Chèque
                    {% else %}
                        Aucun
                    {% endif %}
                </td>
                <td{% if index>0 and participation.depositMethod != history[index-1].depositMethod %} class="info"{% endif %}>
                    {{ participation.depositAmount }} €
                    {% if participation.depositMethod == 'cb' %}
                        CB
                    {% elseif participation.depositMethod == 'cash' %}
                        Espèces
                    {% elseif participation.depositMethod == 'fairpay' %}
                        Fairpay
                    {% elseif participation.depositMethod == 'cheque' %}
                        Chèque
                    {% else %}
                        Aucun
                    {% endif %}
                </td>
                <td{% if index>0 and participation.comments != history[index-1].comments %} class="info"{% endif %}>
                    {{ participation.comments }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <a class="btn btn-primary" href="{{ path('event_admin_participants', {id:event.id}) }}">
        {{ icon('arrow-left') }} Liste des participants
    </a>
{% endblock %}