{% extends '@FerusEvent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ event }}</li>
    <li class="active">Liste des participants</li>
{% endblock %}

{% block actions %}
    {{ parent() }}
    <div class="hidden-xs" style="margin-top: 10px;">
        <div class="btn-group btn-group-sm">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ icon('th-list') }} Participants
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('event_admin_participants', {id:event.id}) }}">
                            {{ icon('th-list') }} Liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_store_index', {id:event.id}) }}">
                            {{ icon('shopping-cart') }} Boutique en ligne
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_admin_participants_csv', {id:event.id}) }}">
                            <i class="fa fa-file-excel-o"></i> Télécharger
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-car"></i> Demandes
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('event_admin_car_requests', {id:event.id}) }}">
                            {{ icon('th-list') }} Liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_store_register_plate', {id:event.id}) }}">
                            <i class="fa fa-car"></i> Faire une demande
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_admin_car_requests_csv', {id:event.id}) }}">
                            <i class="fa fa-file-excel-o"></i> Télécharger
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="visible-xs-block" style="margin-top: 10px;">
        <div class="btn-group btn-group-sm btn-group-justified">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ icon('th-list') }} Participants
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('event_admin_participants', {id:event.id}) }}">
                            {{ icon('th-list') }} Liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_store_index', {id:event.id}) }}">
                            {{ icon('shopping-cart') }} Boutique en ligne
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_admin_participants_csv', {id:event.id}) }}">
                            <i class="fa fa-file-excel-o"></i> Télécharger
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-car"></i> Demandes
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="{{ path('event_admin_car_requests', {id:event.id}) }}">
                            {{ icon('th-list') }} Liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_store_register_plate', {id:event.id}) }}">
                            <i class="fa fa-car"></i> Faire une demande
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event_admin_car_requests_csv', {id:event.id}) }}">
                            <i class="fa fa-file-excel-o"></i> Télécharger
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Liste des participants <small>{{ event }}</small></h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>{{ icon('barcode') }}</th>
                <th>Participant</th>
                <th>Email</th>
                {% for field in event.extraFields %}
                    <th>{{ field }}</th>
                {% endfor %}
                {% for option in event.options %}
                    <th><i class="glyphicon glyphicon-info-sign" title="{{ option }}"></i></th>
                {% endfor %}
                <th></th>
                <th><i class="glyphicon glyphicon-euro" title="Place"></i></th>
                <th><i class="glyphicon glyphicon-warning-sign" title="Caution"></i></th>
            </tr>
            {% for participation in event.participations if not participation.expired %}
                <tr>
                    <td>
                        {% if participation.studentId is null %}
                            {{ label_primary('Externe') }}
                        {% else %}
                            <code>{{ participation.studentId }}</code>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('event_admin_payment_details', {id:event.id, email:participation.email}) }}">
                            {{ participation }}
                        </a>
                    </td>
                    <td>
                        {{ participation.email }}
                    </td>
                    {% for value in participation.fields %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    {% for value in participation.options %}
                        {% if value == 1 %}
                            <td  style="background: #5cb85c;color: white;text-align: center">
                                <span class="glyphicon glyphicon-ok"></span>
                            </td>
                        {% else %}
                            <td class="text-center" style="background: #d9534f;color: white;text-align: center">
                                <span class="glyphicon glyphicon-remove"></span>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td></td>
                    {% if participation.paymentMethod %}
                        <td  style="background: #5cb85c;color: white;text-align: center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    {% else %}
                        <td class="text-center" style="background: #d9534f;color: white;text-align: center">
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                    {% endif %}
                    {% if participation.depositMethod %}
                        <td  style="background: #5cb85c;color: white;text-align: center">
                            <span class="glyphicon glyphicon-ok"></span>
                        </td>
                    {% else %}
                        <td class="text-center" style="background: #d9534f;color: white;text-align: center">
                            <span class="glyphicon glyphicon-remove"></span>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ 6 + event.extraFields|length + event.options|length }}">
                        Pas encore de participants
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}