{% extends '@FerusEvent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ event }}</li>
    <li class="active">Liste des participants</li>
{% endblock %}

{% block content %}
    <h1>Liste des participants <small>{{ event }}</small></h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>{{ icon('barcode') }}</th>
                <th>Participant</th>
                <th>Email</th>
                {% for ticket in event.tickets %}
                    <th style="width: 40px" title="{{ ticket }}">
                        <div style="width: 40px; overflow: hidden; text-overflow: ellipsis">{{ ticket }}</div>
                    </th>
                {% endfor %}
                <th></th>
            </tr>
            {% for participant in participants %}
                <tr>
                    <td>
                        {% if participant.studentId is null %}
                            {{ label_primary('Externe') }}
                        {% else %}
                            <code>{{ participant.studentId }}</code>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('event_admin_payment_details', {id:event.id, email:participant.email}) }}">
                            {{ participant.name }}
                        </a>
                    </td>
                    <td>{{ participant.email }}</td>
                    {% for ticket in event.tickets %}
                        {% if participant['ticket_'~ticket.id] %}
                            <td class="text-center" style="background: #5cb85c;color: white">
                                {{ icon('ok') }}
                            </td>
                        {% else %}
                            <td class="text-center" style="background: #d9534f;color: white">
                                {{ icon('remove') }}
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td class="text-center">
                        <a class="btn btn-xs btn-default" href="{{ path('event_admin_payment_details', {id:event.id, email:participant.email}) }}">
                            {{ icon('search') }} Détails
                        </a>
                        {% if is_granted('ROLE_EVENT_ADMIN') %}
                            <a class="btn btn-xs btn-danger" href="{{ path('event_admin_payment_remove_from', {id:event.id, email:participant.email}) }}">
                                {{ icon('remove') }} Suppr.
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ 4 + event.tickets|length }}">
                        Pas encore de participants
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}