{% extends '@FerusTransaction/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Dernières transactions</li>
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Type</th>
            <th>Emetteur</th>
            <th>Destinataire</th>
            <th>Montant</th>
            <th>Date</th>
            <th>Mandataire</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>Virement</td>
                <td>{{ transaction.issuer }}</td>
                <td>{{ transaction.receiver }}</td>
                <td>€ {{ transaction.amount }}</td>
                <td>{{ transaction.completedAt|date('d/m/Y à H:i') }}</td>
                <td>{{ transaction.representative }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}