{% extends '::admin.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('transaction_admin_index') }}">Transactions</a></li>
{% endblock %}

{% block actions %}
    <div class="btn-group btn-group-sm">
        <a class="btn btn-default" href="{{ path('transaction_admin_index') }}">
            {{ icon('th-list') }} Liste
        </a>
        <a class="btn btn-success" href="{{ path('transaction_admin_new') }}">
            {{ icon('transfer') }} Nouvelle transaction
        </a>
        <a class="btn btn-primary" href="{{ path('transaction_admin_deposit') }}">
            {{ icon('import') }} Dépot
        </a>
        <a class="btn btn-warning" href="">
            {{ icon('export') }} Retrait
        </a>
    </div>
{% endblock %}