{% extends '::admin.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('transaction_admin_index') }}">Transactions</a></li>
{% endblock %}

{% block actions %}
    <div class="btn-group btn-group-sm">
        <a class="btn btn-default" href="{{ path('transaction_admin_index') }}">
            {{ icon('th-list') }} Liste
        </a>
        <a class="btn btn-success" href="">
            {{ icon('transfer') }} Nouvelle transaction
        </a>
    </div>
{% endblock %}