{% extends '@FerusStudent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Ajouter</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h2>Manuel</h2>
            {{ form(form, { 'style': 'horizontal' }) }}
            <div style="max-height: 200px;overflow: auto"></div>
        </div>
        <div class="col-sm-6">
            <h2>A partir d'un CSV</h2>
            {{ form(csvImport) }}
            <p style="margin-top: 15px">Copiez-collez le contenu du fichier CSV puis cliquez sur {{ label_primary('Importer') }} pour importer la liste.</p>
            <p>Il est conceillé de ne pas ajouter plus de <b>700 élèves</b> à la fois.</p>
            <p>Chaque ligne représente un unique élève, une ligne peut être de la forme :</p>
            <ul>
                <li>ID ; Nom ; Prénom</li>
                <li>ID ; Nom ; Prénom ; Promo</li>
                <li>ID ; Nom ; Prénom ; Promo ; Email</li>
                <li>ID ; Nom ; Prénom ; ; Email</li>
            </ul>
            <p>Si L'ID de l'élève est nouveau il est créé, sinon ses informations sont mises à jour.</p>
            <p>Si l'email n'est pas précisé, il est autimatiquement généré en fonction du nom et du prénom.</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax/add-student.js') }}"></script>
{% endblock %}