{% extends '@FerusStudent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Tous les étudiants</li>
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th>{{ knp_pagination_sortable(students, '#', 's.id') }}</th>
            <th>{{ knp_pagination_sortable(students, 'Prénom', 's.firstName') }}</th>
            <th>{{ knp_pagination_sortable(students, 'Nom', 's.lastName') }}</th>
            <th>Email</th>
            <th>Login</th>
            <th>Cotisant</th>
            <th></th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.login }}</td>
                <td>
                    {% if student.isContributor %}
                        {{ label_success('Oui') }}
                    {% else %}
                        {{ label_danger('Non') }}
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-info">{{ icon('pencil') }} Editer</button>
                        <button type="button" class="btn btn-danger">{{ icon('remove') }}</button>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    {{ knp_pagination_render(students) }}
{% endblock %}