{% extends '::admin.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('student_admin_index') }}">Etudiants</a></li>
{% endblock %}

{% block actions %}
    <div class="hidden-xs">
        <div class="btn-group btn-group-sm">
            <a class="btn btn-default" href="{{ path('student_admin_index') }}">
                {{ icon('th-list') }} Liste
            </a>
            <a class="btn btn-success" href="{{ path('student_admin_add') }}">
                {{ icon('plus') }} Ajouter
            </a>
            <a class="btn btn-primary" href="{{ path('student_admin_contributors') }}">
                {{ icon('euro') }} Cotisations
            </a>
        </div>

        <form class="form-inline" role="form" style="width: 200px;display: inline-block;vertical-align: middle" action="{{ path('student_admin_index') }}" method="get">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Id, Nom, Prénom" name="search" value="{{ search|default('') }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">{{ icon('search') }}</button>
                </span>
            </div>
        </form>
    </div>
    <div class="visible-xs-block">
        <div class="btn-group btn-group-sm btn-group-justified">
            <a class="btn btn-default" href="{{ path('student_admin_index') }}">
                {{ icon('th-list') }} Liste
            </a>
            <a class="btn btn-success" href="{{ path('student_admin_add') }}">
                {{ icon('plus') }} Ajouter
            </a>
            <a class="btn btn-primary" href="{{ path('student_admin_contributors') }}">
                {{ icon('euro') }} Cotisations
            </a>
        </div>

        <form class="form-inline" role="form" style="margin-top: 10px" action="{{ path('student_admin_index') }}" method="get">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Id, Nom, Prénom" name="search" value="{{ search|default('') }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">{{ icon('search') }}</button>
                </span>
            </div>
        </form>
    </div>
{% endblock %}