{% extends '@FerusStudent/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ student.id }}</li>
    <li class="active">Supprimer</li>
{% endblock %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        <h2>Attention !</h2>
        <p>Vous êtes sur le point de supprimer définitivement <b>{{ student }}</b>. Voulez vous continuer ?</p>
        <form method="post" style="margin-top: 10px">
            <button type="submit" class="btn btn-danger">
                {{ icon('remove') }} Supprimer {{ student }}
            </button>
            <a class="btn btn-default" href="{{ path('student_admin_index') }}">
                Annuler
            </a>
        </form>
    </div>
{% endblock %}