{% extends '@FerusFCFS/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Tous les évenements</li>
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Participants</th>
                <th></th>
            </tr>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event }}</td>
                    <td>
                        <b>{{ event.registrations|length }}</b>
                        /
                        <span class="text-muted">{{ event.maxPeople }}</span>
                    </td>
                    <td>
                        <a class="btn btn-default btn-xs" href="{{ path('fcfs_admin_download', {id:event.id}) }}">
                            <i class="fa fa-file-excel-o"></i>
                            Télécharger
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}