{% extends '@FerusAccount/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Tous les comptes</li>
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th>{{ knp_pagination_sortable(accounts, '#', 's.id') }}</th>
            <th>Nom</th>
            <th>Solde</th>
            <th></th>
        </tr>
        {% for account in accounts %}
            <tr>
                <td>{{ account.owner.barcode }}</td>
                <td>{{ account.owner }}</td>
                <td>€ {{ account.balance }}</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <a href="{{ path('account_admin_view', {id:account.id}) }}" class="btn btn-default">
                            {{ icon('zoom-in') }} Détails
                        </a>
                        <a type="button" class="btn btn-default" href="{{ path('account_admin_remove', {id:account.id}) }}">
                            {{ icon('remove') }}
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    {{ knp_pagination_render(accounts) }}
{% endblock %}