{% extends '@FerusAccount/Admin/layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ account.owner.barcode }}</li>
{% endblock %}

{% block content %}
    <h2>{{ account.owner }}</h2>

    <div class="panel panel-default">
        <div class="panel-heading">Informations</div>
        <ul class="list-group">
            <li class="list-group-item">{{ icon('barcode') }} {{ account.owner.barcode }}</li>
            <li class="list-group-item">Solde : € {{ account.balance }}</li>
            <li class="list-group-item">
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-primary" href="{{ path('transaction_admin_deposit', {account:account.id}) }}">
                        {{ icon('import') }} Dépot
                    </a>
                    <a class="btn btn-danger" href="{{ path('account_admin_remove', {id:account.id}) }}">
                        {{ icon('remove') }} Supprimer
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Transations</div>

        {% include '@FerusTransaction/Template/listForAccount.html.twig' %}
    </div>
    {{ knp_pagination_render(transactions) }}
{% endblock %}